nav {
  z-index: 1000;
}

#instafeed {
  height: 400px;
  overflow-y: auto; 
  top: -2em;
  img {
    padding: .5em;
  }
  border-bottom: 1px dotted #999;
  border-top: 1px dotted #999;
}

@media only screen and (min-width: 650px) {
  #instafeed  {
     height: initial;
     border: none;
  }
}

#brideandgroom, .nav_brideandgroom {
  background-color: #30445f !important;
}

#wedding, .nav_wedding {
  background-color: #50374c !important;
}

#rsvp, .nav_rsvp {
  background-color: #6ea097 !important;
}

#registry, .nav_registry {
  background-color: #30445f !important;
}

.us {
  text-align: center;
  width: 40%;
  background-color: #30445f;
  margin: auto;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 10px;
  img {
    height: 50px;
    width: 50px;
    float: none;
  }
  img.thumbi {
    height: 40px;
    width: 40px;
    padding-right:10px;
    padding-top:10px;
  }
}

.usbar {
  background-color: rgba(80,55,76,.7);
  text-align: center;
  width: 50%;
  background-color: #30445f;
  margin: auto;
  margin-top: 60%;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 10px;
  img {
    height: 70px !important;
    width: 70px !important;
    float: none;
    position: relative !important;
    min-width: initial !important;
    min-height: initial !important;
  }
  img.thumbi {
    height: 60px;
    width: 60px;
    padding-right:10px;
    padding-top:10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* Markdown content */

section ul {
  padding-left: 2em;
}

blockquote {
  color: inherit;
  border: none;
  p {
    color: inherit;
  }
  strong {
    font-size: 1.5em;
    text-shadow: 1px 1px black;
  }
}

#registry {
  .left, .right {
    text-align: center;
  }
  img {
    height: 150px;
    margin-bottom: 1em;
    margin-left: 2em;
  }
  ul {
    list-style-type: none;
  }
  a, span {
    font-size: 1.2em;
    color: white;
  }
  a:hover {
    color: gold;
  }
}

.pictrow {
  text-align: center;
  img {
    border: 2px solid #999;
    border-radius: 20px;
    margin-bottom: .5em;
    width: 250px;
  }
}
.pictrow.noborder img { border: none !important; }

.centered { text-align: center; }
.centered > * { margin: auto; }

footer {
  margin-top: 2em;
  color: white;
  font-size: .9em;
  .techlist {
    color: darkgray;
    font-family: monospace;
  }
}