%img.thumbless{src:"images/whalesmall.png",alt:"Erica"}
%img.thumbless{src:"images/tophat.png",alt:"Jason"}
%img.thumbless.thumbi{src:"images/tiaraw.png",alt:"Lyla"}
%img.thumbless.thumbi{src:"images/monkey-w.png",alt:"Greyson"}

