%a{href:"#erica"}
  %img.thumbless{src:"images/whalesmall.png",alt:"Erica"}
%a{href:"#jason"}
  %img.thumbless{src:"images/tophat.png",alt:"Jason"}
%a{href:"#lyla"}
  %img.thumbless.thumbi{src:"images/tiaraw.png",alt:"Lyla"}
%a{href:"#greyson"}
  %img.thumbless.thumbi{src:"images/monkey-w.png",alt:"Greyson"}

