                           
.column.left#erica
  %h2 ERICA
  %p
    %img.thumbless{src:"images/whalesmall.png",alt:"Erica"}
  :markdown
    A woman whose brilliant presence lights up everything around her; a lover of glitter who will always leave a trail of it in her wake. Though the long path that finally brought her before me carried its share of hardships, those illluminating eyes and smile hadn't dimmed in the slightest--so I realized at once that my world would forever be poorer if I couldn't keep her close in my life.  Erica is an endless surprise, with an artful knack for everything tangible or visual. Shortly after we met, she texted the whale above in a joke that would forever tie the icon to her name, as a symbol just adorable enough to fit. If you meet the children, you will know her, for Lyla and Greyson remain an irrefutable testament to her kindness and goodness as a mother. Erica's grace is only matched by the grace announced in her devoted faith.  
    

.column.right#jason
  %h2 JASON
  %p
    %img.thumbless{src:"images/tophat.png",alt:"Jason"}
  :markdown
    Lyla and I joke that Jason is actually 130 years old. We believe he comes from a time when men wore top hats, dressed for dinner and wrote to correspondents. Jason has fallen in love with each of us and has become part of our family as if he had always been there. Him loving me has been a wonderful and amazing answer to my prayers. He has become fixed in each of our hearts. He opens our eyes to new things everyday. We are constantly learning from him and enjoying new experiences. His love for our family shines through him everyday with his hard work and dedication to providing for us. Our lives and the love that the children and I have for each other has strengthened since Jason has joined our family. He is truly a blessing to each one of us.  
    
.clearfix

.column.left#lyla
  %h2 LYLA
  %p
    %img.thumbless{src:"images/tiaraw.png",alt:"Lyla"}
  :markdown
    Our bright and tender hearted little princess touches our lives with compassion and grace that enriches us everyday. She is our little mother hen, making sure everyone is happy and having fun. One of the most exciting things for her was to be part of the engagement, where she helped plan the scene and even got to hand Erica the ring box. She is very excited to be starting a new family and to begin a new chapter in our lives.
    

.column.right#greyson
  %h2 GREYSON
  %p
    %img.thumbless{src:"images/monkey-w.png",alt:"Greyson"}
  :markdown
    Our little monkey runs, dances and climbs through our lives everyday. When he's not swinging from the rafters he's filling the house with laughter and games. He has never-ending hugs, kisses and energy. His playful endurance never ceases to amaze us. Greyson definitely brings a lightheartedness to our new family that no one could replace. He is always by our sides, in our laps, holding our hands and soaring from our heartstrings.  


.clearfix

.column.full.centered
  -# %img{src:"images/gatlinburgsmaller.png"}
  #instafeed

.column.full
  .hr-t
  .hr-b

.column.full
  %h2 HOW WE MET
    
  :markdown
    Erica and I are fond of a fictional series about a time-traveling Doctor, and there's one thing this character always says about the past: certain points in time are fixed, they cannot be changed, for they were always meant to occur. The night I met Erica is one of those times.
    
  .pictrow.noborder
    %img{src:"images/IMG_0403s.png",alt:"Proposal"}   
    %img{src:"images/IMG_0775s.png",alt:"Proposal"}
    
  :markdown
    At a Halloween party just over a year ago, I embraced a common joke about my appearance and showed up as Edward from Twilight. Little did I know that the adorable peacock who soon caught my eye could be counted a fan of the series. She says that I followed her around from room to room; I maintain that the approach and conversation was surely much more gallant. But either way, we would soon have our first official date over sushi at Chuck's... and after a few months more of joyful adventures, I would come to know her beautiful children, and then each day to look forward to the next movie on the couch or family daytrip.
    
    At the wedding you will see many nods to the things we've come to enjoy and to share. LEGOs with Lyla, video games on the couch, fortune cookies, and even bits of science fiction to match our shared love of exploration and museums.  
        

.column.full
  .hr-t
  .hr-b

.column.full
  %h2 THE ENGAGEMENT

  .pictrow
    %img{src:"images/IMG_2596.JPG",alt:"Proposal"}   
    %img{src:"images/IMG_2611.JPG",alt:"Proposal"}
    %img{src:"images/IMG_2604.JPG",alt:"Proposal"}

  :markdown
    This ring was not just for Erica and I; it was also the hopeful inauguration of a new family. So Lyla deserved to be involved, and one evening I sat with my little accomplice at the dining table to plan our surprise as her mother carried on in the next room, none the wiser to our whispers. 
    
    One of our traditions has long been to eat breakfast together at Panera on Sunday mornings, and we've often followed the meal with a trip to the fountain outside to throw  coins in for wishes. I knew that many of those wishes had been of a future for us all, and so one morning after our coins sank into the water, Lyla leaned over it and exclaimed, "Mommy, I see something!"  As I leaned in to look and slid her the box, she pulled our answered wish up from the fountain. Erica, in a hurry to leave a moment prior, recognized the meaning of that little blue box just before a knee went down. 
    
    The answer was yes.
    
