                           
.column.left
  %h2 ERICA
  %p
    %img.thumbless{src:"images/whalesmall.png",alt:"Erica"}
  :markdown
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia arcu at ultricies euismod. In hac habitasse platea dictumst. Praesent sit amet purus in odio vestibulum venenatis vel mollis ante. Morbi non justo imperdiet, feugiat tellus ut, auctor leo. Vestibulum quis justo iaculis lectus ullamcorper lobortis. Etiam vel sapien a justo molestie posuere nec vitae lacus. Vivamus molestie urna molestie lectus venenatis, vitae porta massa mollis. In eu tincidunt elit, nec elementum sapien. Praesent fermentum leo eu rhoncus tempor. Nullam scelerisque dapibus elementum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ac aliquam ligula. Mauris tempus, arcu at volutpat tristique, lorem ante aliquet justo, non rhoncus quam est mattis turpis. Sed egestas lacus sapien, a sollicitudin turpis pellentesque a. Phasellus dapibus velit sed quam posuere consectetur.


.column.right
  %h2 JASON
  %p
    %img.thumbless{src:"images/tophat.png",alt:"Jason"}
  :markdown
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia arcu at ultricies euismod. In hac habitasse platea dictumst. Praesent sit amet purus in odio vestibulum venenatis vel mollis ante. Morbi non justo imperdiet, feugiat tellus ut, auctor leo. Vestibulum quis justo iaculis lectus ullamcorper lobortis. Etiam vel sapien a justo molestie posuere nec vitae lacus. Vivamus molestie urna molestie lectus venenatis, vitae porta massa mollis. In eu tincidunt elit, nec elementum sapien. Praesent fermentum leo eu rhoncus tempor. Nullam scelerisque dapibus elementum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ac aliquam ligula. Mauris tempus, arcu at volutpat tristique, lorem ante aliquet justo, non rhoncus quam est mattis turpis. Sed egestas lacus sapien, a sollicitudin turpis pellentesque a. Phasellus dapibus velit sed quam posuere consectetur.


.clearfix

.column.full
  .hr-t
  .hr-b

.column.full
  %h2 HOW WE MET
  :markdown
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia arcu at ultricies euismod. In hac habitasse platea dictumst. Praesent sit amet purus in odio vestibulum venenatis vel mollis ante. Morbi non justo imperdiet, feugiat tellus ut, auctor leo. Vestibulum quis justo iaculis lectus ullamcorper lobortis. Etiam vel sapien a justo molestie posuere nec vitae lacus. Vivamus molestie urna molestie lectus venenatis, vitae porta massa mollis. In eu tincidunt elit, nec elementum sapien. Praesent fermentum leo eu rhoncus tempor. Nullam scelerisque dapibus elementum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ac aliquam ligula. Mauris tempus, arcu at volutpat tristique, lorem ante aliquet justo, non rhoncus quam est mattis turpis. Sed egestas lacus sapien, a sollicitudin turpis pellentesque a. Phasellus dapibus velit sed quam posuere consectetur.


.column.full
     
  <figure class="responsive-image proposal" data-media="img/onknee-small.jpg" data-media480="img/onknee-small.jpg" data-media768="img/onknee-medium.jpg" data-media1140="img/onknee-large.jpg" title="Brad Proposing To Sarah">
  %noscript
    %img{src:"img/onknee-large.jpg",alt:"Jason Proposing To Erica"}

  %h2 THE ENGAGEMENT
  :markdown
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia arcu at ultricies euismod. In hac habitasse platea dictumst. Praesent sit amet purus in odio vestibulum venenatis vel mollis ante. Morbi non justo imperdiet, feugiat tellus ut, auctor leo. Vestibulum quis justo iaculis lectus ullamcorper lobortis. Etiam vel sapien a justo molestie posuere nec vitae lacus. Vivamus molestie urna molestie lectus venenatis, vitae porta massa mollis. In eu tincidunt elit, nec elementum sapien. Praesent fermentum leo eu rhoncus tempor. Nullam scelerisque dapibus elementum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ac aliquam ligula. Mauris tempus, arcu at volutpat tristique, lorem ante aliquet justo, non rhoncus quam est mattis turpis. Sed egestas lacus sapien, a sollicitudin turpis pellentesque a. Phasellus dapibus velit sed quam posuere consectetur.

