.column.full
  %p
    We plan on spending our honeymoon at Walt Disney World. Below you can find links that will lead you to our Disney or Target registries. 
    If you feel so inclined, you can assist us in our week long dream honeymoon.

.column.left
  %img{src:"images/disney.png"}
  %ul
    %li  
      %a{href:"http://disney.honeymoonwishes.com/Honeymoon-Registry-199399-Walt-Disney-World-Resort-Erica-Buchanan-Jason-Phillips.html"} &bull; Disney Honeymoon Registry 

.column.right
  %img{src:"images/target.png"}
  %ul
    %li  
      %a{href:"http://www.target.com/wedd/registry/enmlpGPcK5HbC7ljnKaIfA"} &bull; Target Wedding Registry 
    -# %li
    -#  %a{href:"http://www.target.com/ot/list/eCmpaskUzERCI9l60rHzVA"} &bull; Target Bridal Shower Registry

