.show-for-medium-up
  .column.full
    %iframe{src:"http://rsvpericajason.rsvpify.com/?embed=1",frameborder:"0",width:"100%",height:"500px"}
  .column.full
    :markdown
      ### Contact Us Directly
      
      If you have any questions, feel free to email us at:
      
       - <ericadtbuchanan@gmail.com>
       - <jason.surname.phillips@gmail.com>
  
.hide-for-medium-up
  .column.left
    %h2 RSVP Online
    %p
      %a{href:"http://rsvpericajason.rsvpify.com/",target:"_blank"} Please click here to RSVP
    %p
  
  .column.right
    :markdown
      ### Contact Us Directly
      
      If you have any questions, feel free to email us at:
      
       - <ericadtbuchanan@gmail.com>
       - <jason.surname.phillips@gmail.com>
   
.clearfix