.column.full
  :markdown
    ## February 01, 2014
  
    Thank you so much for joining us on the day the four of us become a family. We are all so happy to have found each other and are very excited to celebrate this day with all those close to our hearts. 
    
    We ask you to join us along with Lyla and Greyson...

.column.left
  :markdown
    > **on** February First, Two Thousand and Fourteen  
    > **at** Five Thirty in the Evening  
    > **in** the First Presbyterian Church  
    >
    >  - Nine Hundred Greensboro Avenue
    >  - Tuscaloosa Alabama 35401
    >
    > **Reception** to follow at 
    >
    >  - The Battle-Friedmans House
    >  - One Thousand and Ten Greensboro Avenue
    >  - Tuscaloosa Alabama 35401

.column.right
  %p
    %img{src:"/images/map_temp.png"}